/*------------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------
    COMMON
------------------*/
body {
    background-color: #000;
    height: 100vh;
    color: white;
}
i span {
    font-family: sans-serif;
    font-weight: normal;
}
button i {
    padding: 5px;  
    cursor: pointer; 
}
button {
    color: inherit;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}
button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.row {
    display: flex;
}
/*------------------
    HEADER
------------------*/
header {
    height: 30px;
}
header div {
    text-align: right;
    margin: 5px 5px 40px 0;
}
/*------------------
    MAIN
------------------*/
main {
    height: calc(100% - 120px);
    width: 90%;
    margin: auto;
    overflow-y: auto;
}
main section {
    height: 100%;
}
.row-screen {
    flex-wrap: wrap;
}
.row-screen .box-users {
    width: calc(100% / 7 - 10px);
    margin: 15px 5px;
    height: 200px;
    background-color: aqua;
}
/*------------------
    FOOTER
------------------*/
footer {
    height: 90px;
    background-color: bisque;
}