/*------------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------
    COMMON
------------------*/
body {
    background-color: #000;
    height: 100vh;
    color: white;
}
i span {
    font-family: sans-serif;
    font-weight: normal;
}
button i {
    padding: 5px;  
    cursor: pointer; 
}
button {
    color: inherit;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}
button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.row {
    display: flex;
}
footer .row .row .row-reverse{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------------------
    HEADER
------------------*/
header {
    height: 30px;
}
header div {
    text-align: right;
    margin: 5px 10px 40px 0;
}
/*------------------
    MAIN
------------------*/
main {
    height: calc(100% - 120px);
    width: 90%;
    margin: auto;
    overflow-y: auto;
}
main section {
    height: 100%;
}
.row-screen {
    flex-wrap: wrap;
}
.row-screen .box-users {
    position: relative;
    width: calc(100% / 7 - 10px);
    margin: 5px;
}
.row-screen .box-users img{
    display: block;
    width: 100%;
}
.row-screen .box-users button i {
    position: absolute;
    bottom: 11%;
    left: 0;
    font-size: 16px;
    color: inherit;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}
.row-screen .box-users button i:hover {
    background-color:  rgba(255, 255, 255, 0.4);
}

/*------------------
    FOOTER
------------------*/
footer section{
    background-color: #222222;
    height: 90px;
    align-items: center;
}
.nav-left {
    width: 20%;
}
.nav-middle {
    width: 60%;
    justify-content: center;
}
.nav-right{
    width: 20%;
    height: 100%;
    justify-content: flex-end;
}
.nav-right button strong {
    color: red;
    padding: 0 20px;
    height: 100%;
}
footer .row .row li:not(:last-child) {
    margin-right: 20px;
}
footer .row .row li button {
    background-color: transparent;
}
footer .row .row li button:hover {
    background-color:  rgba(255, 255, 255, 0.4);
}

